<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Car Pool</h1>
    <div class="row center">
      <h5 class="header col s12 light">The accesible crowd-sourced mobility option for everyone.</h5>
    </div>
    <div class="row center">
      <a href="/sign-in" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speedy plans</h5>

          <p class="light center">placeholder</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Community based</h5>

          <p class="light center">placeholder</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Simple interface</h5>

          <p class="light center">placeholder</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>
