<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Current Location</span>
            <p><b>Location:</b> Unknown.</p>
          </div>
          <div class="card-action">
            <a href="#">Get My Location</a>
          </div>
        </div>
      </div>

      <div class="col s12 m8">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Destination</span>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
